
<div class="container">

      <div *ngIf="showGameScreen">
            <div class="row">
                  <div class="col-md-6">                      
                        <app-player [player]="playerOne" ></app-player>
                        <app-button-player [data]="playerOne" (event)="makeAction($event)"></app-button-player>
                  </div>
                  <div class="col-md-6">
                        <app-player [player]="playerTwo" ></app-player>
                        <app-button-player [data]="playerTwo" (event)="makeAction($event)"></app-button-player>
                  </div>                
            </div>   
      </div>

      <div *ngIf="winner">
            <h1>{{winner}}</h1>
      </div>

      <div></div>
            <app-button-player  *ngIf="gameStart" [data]="'Restart'" (event)="makeAction($event)"></app-button-player>
      </div>

      <div *ngIf="!gameStart">
            <app-button-player [data]="'Start'" (event)="makeAction($event)"></app-button-player>
      </div> 
      
</div>