
<div class="row">

  <div class="col-md-6">

    <div class="content-center-align">
      <h2>{{playerOne.name}}</h2>
      <p><label>Life </label> {{playerOne.life}}</p>
      <p><label>Wins </label> {{playerOne.wins}}</p>
      <p><label>Defeats </label> {{playerOne.defeats}}</p>
    </div>
      


  </div>

  <div class="col-md-6">

      <div class="content-center-align">
          <h2>{{playerTwo.name}}</h2>
          <p><label>Life </label> {{playerTwo.life}}</p>
          <p><label>Wins </label> {{playerTwo.wins}}</p>
          <p><label>Defeats </label> {{playerTwo.defeats}}</p>
        </div>

  

  </div>                




</div>    


