
<div class="row">

  <div class="col-md-6">

    <div class="content-center-align">
      <h2>{{playerOneIni.name}}</h2>
      <p><label>Life </label> {{playerOneIni.life}}</p>
      <p><label>Wins </label> {{playerOneIni.wins}}</p>
      <p><label>Defeats </label> {{playerOneIni.defeats}}</p>
    </div>
      


  </div>

  <div class="col-md-6">

      <div class="content-center-align">
          <h2>{{playerTwoIni.name}}</h2>
          <p><label>Life </label> {{playerTwoIni.life}}</p>
          <p><label>Wins </label> {{playerTwoIni.wins}}</p>
          <p><label>Defeats </label> {{playerTwoIni.defeats}}</p>
        </div>

  

  </div>                




</div>    


