
<app-player [playerOne]="playerOne" [playerTwo]="playerTwo"></app-player>

<div class="row">

    <div class="col-md-6 content-center-align">

          <app-button-player [data]="playerOne" (event)="makeAction($event)"></app-button-player>
  
    </div>
  
    <div class="col-md-6 content-center-align">
  
          <app-button-player [data]="playerTwo" (event)="makeAction($event)"></app-button-player>
  
    </div>                
  
    
</div>   
 
<div class="content-center-align">
      
      <app-button-player [data]="restart" (event)="makeAction($event)"></app-button-player>

</div> 
